.titulo-secao {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
  color: #4caf50; /* Cor verde para destacar os títulos das seções */
}

.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.slide-title {
  margin: 10px 0 5px;
  font-size: 1.2em;
  text-align: center;
  color: #333;
}

.evento-info {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #666;
  margin: 5px 0;
}

.evento-info ion-icon {
  margin-right: 5px;
}

ion-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-slide img {
  cursor: pointer;
}


  #pesquisa{
    --background: white;
    color: black;
    --border-radius: 17px;   
  }


  h3{
    color: black;  
  }

  ion-content {
    --background: #f0f0f0; // Substitua pelo código de cor desejado
  }

  .barra{
    display: flex;
    justify-content: space-between;

  }
  .menu-icon {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    color: #ffffff; /* Cor branca para o ícone */
    font-size: 1.5em; /* Tamanho do ícone */
  }
  
  ion-content {
    --background: #f0f0f0; /* Cor de fundo do menu */
  }
  
  ion-list {
    margin-top: 0;
    padding-top: 0;
    background-color: #ffffff;
  }
  
  ion-item {
    --border-color: #e0e0e0; /* Cor da borda dos itens */
    --background: #ffffff; /* Cor de fundo dos itens */
    --color: #333; /* Cor do texto dos itens */
    border-radius: 10px;
    margin: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-icon {
    color: #224D53; /* Cor do ícone */
    margin-right: 10px;
  }
  
  ion-label {
    font-weight: bold; /* Negrito para o texto dos itens */
  }
  
  .alertController{
    color: #ffffff;
  }

  .slide-image {
    width: 100%;
    height: auto;
    display: block;  /* Assegura que as imagens sejam exibidas como blocos */
  }
  .event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .evento-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .evento-info ion-icon {
    margin-right: 5px;
  }
  
  