<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar style="background-color: #224D53;">
      <ion-title>
          Menu
          <ion-icon name="home-outline"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      
      <ion-item routerLink="/about" routerDirection="forward">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Sobre o App</ion-label>
      </ion-item>

      <ion-item routerLink="/settings" routerDirection="forward">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>

      <ion-item routerLink="/advertise-product" routerDirection="forward">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-label>Anuncie seu Produto</ion-label>
      </ion-item>

      <ion-item routerLink="/create-event" routerDirection="forward">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Anuncie seu Evento</ion-label>
      </ion-item>

      <ion-item routerLink="/terms" routerDirection="forward">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label>Termos de Uso</ion-label>
      </ion-item>

      <ion-item (click)="presentLogoutAlert()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>




<div id="main-content">
  <ion-header  [translucent]="true" style="color: #E1E1E1 ;">
    <ion-toolbar style="background-color: #E1E1E1 ;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="barra">
      <ion-title id="titulo-menu">Eventos</ion-title>
      <img id="logo" width="72px" src="assets/imagens/navia-logo.png" alt="" srcset="">
    </div>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <!-- Barra de pesquisa -->
    <ion-searchbar id="pesquisa" placeholder="Eventos e Locais"></ion-searchbar>
  
    <!-- Seção: Eventos de Coleta -->
    <h3 class="titulo-secao">Eventos de Coleta</h3>
    <div class="carousel-container">
      <ion-slides pager="true">
        <ion-slide *ngFor="let evento of eventosColeta">
          <img [src]="evento.imagem" alt="{{ evento.nome }}" class="slide-image" (click)="verEvento(evento)">
          <h2 class="slide-title">{{ evento.nome }}</h2>
          <div class="evento-info">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ evento.data }}</span>
          </div>
          <div class="evento-info">
            <ion-icon name="location-outline"></ion-icon>
            <span>{{ evento.endereco }}</span>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  
    <!-- Seção: Eventos de Reciclagem -->
    <h3 class="titulo-secao">Eventos de Reciclagem</h3>
    <div class="carousel-container">
      <ion-slides pager="true">
        <ion-slide *ngFor="let evento of eventosReciclagem">
          <img [src]="evento.imagem" alt="{{ evento.nome }}" class="slide-image" (click)="verEvento(evento)">
          <h2 class="slide-title">{{ evento.nome }}</h2>
          <div class="evento-info">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ evento.data }}</span>
          </div>
          <div class="evento-info">
            <ion-icon name="location-outline"></ion-icon>
            <span>{{ evento.endereco }}</span>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  
    <!-- Seção: Troca de Produtos Sustentáveis -->
    <h3 class="titulo-secao">Troca de Produtos Sustentáveis</h3>
    <div class="carousel-container">
      <ion-slides pager="true">
        <ion-slide *ngFor="let evento of eventosTroca">
          <img [src]="evento.imagem" alt="{{ evento.nome }}" class="slide-image" (click)="verEvento(evento)">
          <h2 class="slide-title">{{ evento.nome }}</h2>
          <div class="evento-info">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ evento.data }}</span>
          </div>
          <div class="evento-info">
            <ion-icon name="location-outline"></ion-icon>
            <span>{{ evento.endereco }}</span>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  
    <!-- Seção: Palestras -->
    <h3 class="titulo-secao">Palestras</h3>
    <div class="carousel-container">
      <ion-slides pager="true">
        <ion-slide *ngFor="let evento of eventosPalestras">
          <img [src]="evento.imagem" alt="{{ evento.nome }}" class="slide-image" (click)="verEvento(evento)">
          <h2 class="slide-title">{{ evento.nome }}</h2>
          <div class="evento-info">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ evento.data }}</span>
          </div>
          <div class="evento-info">
            <ion-icon name="location-outline"></ion-icon>
            <span>{{ evento.endereco }}</span>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  
    <!-- Seção: Feira de Produtos Naturais e Orgânicos -->
    <h3 class="titulo-secao">Feira de Produtos Naturais e Orgânicos</h3>
    <div class="carousel-container">
      <ion-slides pager="true">
        <ion-slide *ngFor="let evento of eventosFeira">
          <img [src]="evento.imagem" alt="{{ evento.nome }}" class="slide-image" (click)="verEvento(evento)">
          <h2 class="slide-title">{{ evento.nome }}</h2>
          <div class="evento-info">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{ evento.data }}</span>
          </div>
          <div class="evento-info">
            <ion-icon name="location-outline"></ion-icon>
            <span>{{ evento.endereco }}</span>
          </div>
        </ion-slide>
      </ion-slides>
      
    </div>
  </ion-content>
  