<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <div class="barra">
      <ion-title style="color: #fff;">Termos de Uso</ion-title>
      <img id="logo" width="60px" src="assets/imagens/navia-logo.png" alt="" srcset="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Termos de Uso</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Seção 1: Introdução</h2>
        <p>Esta página contém os Termos de Uso e a Política de Privacidade que regem o uso do aplicativo Navia." Breve resumo sobre a importância de proteger os dados dos usuários e garantir uma experiência segura.  </p>
      </ion-label>
    </ion-item>
    <!-- Adicione mais seções conforme necessário -->
     <ion-item>
      <ion-label>
        <h2>Seção 2: Política de Privacidade Coleta de Dados:</h2>
        <p>
       Informar quais dados o app coleta (nome, e-mail, localização, etc.). Uso dos Dados: Explicar como os dados são utilizados (para melhorar a experiência, promover eventos, etc.). Compartilhamento de Dados: Informar se os dados são compartilhados com terceiros e para quais finalidades. Segurança dos Dados: Descrever as medidas tomadas para proteger os dados dos usuários. Direitos dos Usuários: Informar os direitos dos usuários em relação aos seus dados, como solicitar exclusão ou correção.
    </p>
    </ion-label>
     </ion-item>
     <ion-item>
      <ion-label>
       <h2>Seção 3: Termos de Uso Condições de Uso:</h2>
        <p>
       Definir as regras para o uso do app (comportamento esperado, restrições). Responsabilidade do Usuário: Informar que os usuários são responsáveis pelo uso adequado do app, criação de eventos, e interações no marketplace. Limitações de Responsabilidade: Definir as responsabilidades da empresa em relação a problemas técnicos ou violações. Alterações nos Termos: Informar que os termos podem ser alterados e que os usuários serão notificados. Botão de Aceitação: "Eu Li e Aceito" (para continuar usando o app).
      </p>
      </ion-label>
     </ion-item>
  </ion-list>
</ion-content>