ion-content {
  --background: #f8f9fa;
}

.barra {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 60px;
}

#titulo-menu {
  font-size: 20px;
  color: #ffffff;
}

.card-anunciar, .card-dicas {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  color: #333;
}

ion-item {
  background-color: transparent;
  border: none;
}

.card-anunciar ion-card-title {
  color: #3880ff;
}

.card-dicas ion-card-title {
  color: #10dc60;
}

ion-item {
  --background: #ffffff;
  --ion-item-background: #f8f9fa;
  border-radius: 10px;
  margin: 5px 0;
  color: #000;
  font-size: 20px;
}

ion-button {
  margin-top: 20px;
  --background: #3880ff;
}

ion-label {
  color: #ffffff;
}

.custom-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

ion-item img.custom-icon {
  display: inline-block;
  position: relative;
  top: 2px;
}

input[type="file"] {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}
